<!DOCTYPE html>
<html lang="en">
<head>
  <title>Enterprise URL Shortener</title>
  <link rel="stylesheet" href="/webjars/bootstrap/dist/css/bootstrap.min.css"/>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/vue/vue.min.js"></script>
</head>
<body>

<div class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container">
    <h1 class="display-4">Quicklinks</h1>
    <p class="lead">A URL shortener for the modern age.</p>
  </div>
</div>
<div id="app" class="container">

  <p>This is a special URL shortener for enterprise use. It has the following features:</p>
  <ul>
    <li>Short links for internal websites.</li>
    <li>Site previews for external websites.</li>
    <li>Malware checking for external links.</li>
  </ul>

  <hr>
  <h2>Create or modify a link</h2>
  <div v-if="saved" class="alert alert-success">Link saved as {{fulllink}}</div>

  <form v-on:submit.prevent>
    <div class="form-group">
      <label for="stubInput">Short name</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{shortlinkPrefix}}</span>
        </div>

        <input v-model.trim="shortlink" type="text" class="form-control" id="stubInput"
               aria-describedby="stubHelp" placeholder="Enter your shortlink">
      </div>
      <small id="stubHelp" class="form-text text-muted">Shortlinks can contain letters, numbers,
        dashes and underscores.
      </small>
    </div>
    <div class="form-group">
      <label for="urlInput">URL</label>
      <input v-model.trim="url" type="url" class="form-control" id="urlInput"
             placeholder="https://...">
    </div>
    <button v-on:click="save" class="btn btn-success" :disabled="invalid"
            v-bind:class="{disabled: invalid}">Save
    </button>
  </form>
</div>

<script type="text/javascript">
  'use strict';

  function getUrlParam(name) {
    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
  };

  new Vue({
    el: '#app',
    data: {
      shortlink: '',
      url: '',
      saved: false
    },
    watch: {
      shortlink: function () {
        this.saved = false;
      },
      url: function () {
        this.saved = false;
      }
    },
    computed: {
      invalid: function () {
        var shortlinkIsValid = /^[A-Za-z0-9_-]+$/.test(this.shortlink)
        return !(shortlinkIsValid) || this.url == "";
      },
      shortlinkPrefix: function () {
        return "https://" + document.location.hostname + "/";
      },
      fulllink: function () {
        return this.shortlinkPrefix + this.shortlink;
      }
    },
    created: function () {
      var param = getUrlParam('edit');
      if (param !== '') {
        this.shortlink = param;
        self = this;
        $.get('/api/v1/links/' + param, function (results) {
          self.url = results.url;
        })
      }
    },
    methods: {
      save: function () {
        console.log("saving");
        self = this;
        $.ajax('/api/v1/links/', {
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify({'url': this.url, 'stub': this.shortlink}),
          success: function () {
            self.saved = true
          }
        })
      }
    }
  })
</script>
</body>

</html>
